
body {
	background-color: #ccebff; 
	color: #7D7D80;
	}

.header {
	font-size: 20px; 
	font-family: Arial; 
	text-align: center; 
	border: 5px solid #3399FF;
	border-radius:25px;
	padding:0;
	display:block;
}

#date {
	margin-left:100px;
}

.content {
	font-size:17px; 
	font-family: Times,Arial,serif; 
	border: 5px solid #3399FF;
	text-align:left; 
	margin-right:100px;
	margin-left:100px;
	height: auto;
	border-radius:15px;
	display:block;
}

